extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers 
      hr
    form#form.form-signin(role="form")
      h2.form-signin-heading  تسجيل اللجنة 
      input#constitname.form-control.input-lg(type="text",name="constitres", placeholder="أسم اللجنة", required="")
      hr
      input#constitres.form-control.input-lg(type="text",name="constitres", placeholder="أسم المسؤول", required="")
      hr
      button.btn.btn-primary.btn-lg تسجيل
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery-1.11.1.min.js") 
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/coustumer.js")
