extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        form#form.form-signin(role="form")
          h2.form-signin-heading  تسجيل اللجنة 
          input#constitname.form-control.input-lg(type="text",name="constitres", placeholder="أسم اللجنة", required="")
          hr
          .input-group 
            select.form-control.input-lg(type="text",name="constitres", placeholder="أسم المسؤول", required="")
            .input-group-btn
              .btn.btn-success.btn-lg(type="button",data-title='Delete',href='#addmanger', data-toggle='modal', data-placement='top', rel='tooltip') إضافة 
                spen.glyphicon.glyphicon-plus 
          hr
          button.btn.btn-primary.btn-lg تسجيل       
  #addmanger.modal(data-width='760', tabindex='-1')
      .modal-dialog
        .modal-content 
          .modal-headr
            .modal-title 
              h2 إضافة بينات المسؤل
          .modal-body
            form#form.form-signin(role="form" , action="/root/adduser", method="post")
              div.form-group
                lable أسم السمؤل
                input#name.form-control(type="text",name="name", placeholder="اسم المستخدم", required="",autofocus="")
              div.form-group
                lable رقم الهاتف
                input#phone.form-control(type="text",name="phone", placeholder="رقم الهاتف", required="",autofocus="")
              div.form-group
                lable البريد الإلكتروني
                input#email.form-control( type="text",name="email", placeholder="البريد الإلكتروني",required="")
                hr
                button.btn.btn-primary(type='button',data-dismiss='modal') save and close 
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/admin.js")