extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") الصفحة الرئيسية
        li
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا 
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا 
              li(role='presentation')
                a(href='/users/logout', role='menuitem', tabindex='-1') تـسـجـيـل الخـروج
      h3.text-muted.text-left    
        a(href="/")
          img(src="../../images/hnec_logo.png")  
      .row
        .col-sm-12.col-md-11.col.col-md.offset-4
          .modal-body
            form#form.form-signin(role="form" , action="/office/employeeOffice/addEmployee", method="post")   
              div.form-group
                lable.h3 اﻻسـم
                input#emp_office_name.form-control(type="text",name="emp_office_name", placeholder="اﻻسـم",autofocus="")
              div.form-group
                lable.h3 البريد الالكتروني
                input#email.form-control(type="text",name="email", placeholder="البريد الالكتروني",autofocus="") 
              div.form-group
                lable.h3 الرقم الوطني
                input#nid.form-control(type="text",name="nid", placeholder="الرقم الوطني",autofocus="")     
              div.form-group
                lable.h3 اسم المصرف
                input#bank_name.form-control(type="text",name="bank_name", placeholder="اسم المصرف",autofocus="")
              div.form-group
                lable.h3 رقم الحساب
                input#acount_number.form-control(type="text",name="acount_number", placeholder="رقم الحساب",autofocus="")
              div.form-group
                lable رقم الهاتف
                .form-group.multiple-form-group.input-group#phone_input
                  .input-group
                    #radioBtn.btn-group
                      a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                      a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                      input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                  .input-group
                    .input-group-btn.input-group-select
                      button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                        span.concept ليبيانا
                        span.caret
                      ul.dropdown-phone(role='menu')
                        li
                          a(href='#ليبيانا') ليبيانا
                        li
                          a(href='#المدار') المدار
                        li
                          a(href='#ثريا') ثريا
                        li
                      input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                    input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                    span.input-group-btn
                      button.btn.btn-success.btn-add(type='button') +
              div.from-group.hidden
                lable.h3 اللجنة 
                  select#office_id.form-control(name="office_id",placeholder="اللجنة",aria-hidden="true")
                    option(value="#{idoffice}") #{idoffice}
              div.form-group
                lable.h3 الـصـفـه
                  select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                    for ty,id in type.hnec
                      option(value="#{id}") #{ty}
              div.form-group.text-center
                button.btn.btn-lg.btn-primary(type="submit") إضـافة        
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/employeeOffice.js")
   
