extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers App
      div.panel.panel-default.form-signin 
        div.panel-heading.text-right
          h1.panel-title اضافة مدير
        div.panel-body
          form#form.form-signin(role="form")
            div.row.form-group
              .col-lg-1.col-sm-1
              lable اسم المستخدم 
            div.row.form-group
              .col-lg-1.col-sm-1
              input#username.form-control.input-lg(type="text",name="username", placeholder="اسم المستخدم", required="",autofocus="")
            div.row.form-group
              .col-lg-1.col-sm-1
              lable رقم الهاتف
            div.row.form-group
              .col-lg-1.col-sm-1
              input#phone.form-control.input-lg(type="text",name="phone", placeholder="رقم الهاتف", required="",autofocus="")
            div.row.form-group
              .col-lg-1.col-sm-1
              lable البريد الإلكتروني
            div.row.form-group
              .col-lg-1.col-sm-1
              input#email.form-control.text-left.input-lg(type="email",name="email",dir="ltr", placeholder="البريد الالكتروني", required="")
            div.row.form-group
              .col-lg-1.col-sm-1
              lable الدوائر الانتخابية
            div.row.form-group
              .col-lg-1.col-sm-1
              select#select.form-control.btn.dropdown-toggle.selectpicker.btn-default.input-lg( data-style='btn-primary',name="select")
                option(value="")
                option(value="0") طرابلس
                option(value="1") بنغازي
                option(value="2") سبها
            div.row.form-group
              .col-lg-1.col-sm-1
              button.btn.btn-lg.btn-primary(type="submit") تسجيل
    div.footer
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/jquery-1.11.1.min.js") 
      script(src="/javascripts/jquery.validate.min.js")
      script(src="/javascripts/addmanager.js")
