extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title إضافة مستخدم
      div.panel-body
        form#form.form-signin(role="form" , action="/root/adduser", method="post")
          div.form-group
            lable اسم المستخدم
            input#name.form-control(type="text",name="name", placeholder="اسم المستخدم", required="",autofocus="")
          div.form-group
            lable رقم الهاتف
            input#phone.form-control(type="text",name="phone", placeholder="رقم الهاتف", required="",autofocus="")
          div.form-group
            lable البريد الإلكتروني
            input#email.form-control.text-left(dir="ltr", type="text",name="email", placeholder="البريد الإلكتروني",required="")
          //Select for choose user root , admin or manager
          div.form-group
            font(size="4", color="black" , face="cursive" )
              select.form-control#level(name="level")
                option(value="-1", selected="selected") صﻻحية المستخدم
                option(value="0") root
                option(value="1") admin
                option(value="2") manager
          //Select for choose manager of constituencies
          div.form-group
            font(size="4", color="black" , face="cursive" )
              select.form-control#constit(name="constit")
                option(value="-1", selected="selected") اختر الدائره الانتخابيه
                option(value="طرابلس") طرابلس
                option(value="بنغازي") بنغازي
                option(value="مصراته") مصراته
          div.form-group.text-center
            button.btn.btn-lg.btn-primary(type="submit") الدخول
    br
    div.footer
    script(src="/javascripts/jquery-1.11.1.min.js") 
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/adduser.js")
        
