extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers App
    form#form.form-signin(role="form")
      h2.form-signin-heading الرجاء تسجيل الدخول
      hr
      lable اسم المستخدم
      input#username.form-control(type="text",name="username", placeholder="اسم المستخدم", required="",autofocus="")
      hr
      lable رقم الهاتف
      input#phonenumber.form-control(type="text",name="phonenumber", placeholder="رقم الهاتف", required="",autofocus="")
      hr
      lable البريد الإلكتروني
      input#email.form-control(type="email",name="email", placeholder="كلمة المرور", required="")
      hr
      lable صﻻحية المستخدم
      br
      //select(onchange="{doSomething(...);if(this.options[this.selectedIndex].onclick != null){this.options[this.selectedIndex].onclick(this);}}")
      //option(onclick="doSomethingElse(...);", value="A") A
      //option(onclick="doSomethingElse(..);", value="B") B
      //option(onclick="doSomethingElse(..);", value="Foo") C



      font(size="4", color="black" , face="cursive" )
        select(onchange="changeFont(this.value);")
          option(value="-1", selected="selected") Choose...
          option(value="0") root
          option(value="1") admin
          option(onclick="doSomethingElse(...);",value="2") manager
      hr
      font(size="4", color="black" , face="cursive" )
        select(onchange="changeFont(this.value);")
          option(value="0", selected="selected") Choose...
          option(value="طرابلس") طرابلس
          option(value="بنغازي") بنغازي
          option(value="مصراته") مصراته
      hr
      button.btn.btn-lg.btn-primary(type="submit") الدخول
      
  div.footer
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery-1.11.1.min.js") 
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/coustumer.js")
    script(src="/javascripts/emailvalidat.js")
