extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers App
        form#form.form-signin(role="form")
          h2.form-signin-heading الرجاء تسجيل الدخول
          br
          lable اسم المستخدم
          input#name.form-control(type="text",name="name", placeholder="اسم المستخدم", required="",autofocus="")
          br
          lable رقم الهاتف
          input#phone.form-control(type="text",name="phone", placeholder="رقم الهاتف", required="",autofocus="")
          br
          lable البريد الإلكتروني
          input#email.form-control(type="email",name="email", placeholder="كلمة المرور",required="")
          br
          font(size="4", color="black" , face="cursive" )
            select#level(name="level")
              option(value="-1", selected="selected") صﻻحية المستخدم
              option(value="0") root
              option(value="1") admin
              option(value="2") manager
          br
          font(size="4", color="black" , face="cursive" )
            select#constit(name="constit")
              option(value="-1", selected="selected") اختر الدائره الانتخابيه
              option(value="طرابلس") طرابلس
              option(value="بنغازي") بنغازي
              option(value="مصراته") مصراته
          br
          button.btn.btn-lg.btn-primary(type="submit") الدخول
        
      div.footer
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/jquery-1.11.1.min.js") 
        script(src="/javascripts/jquery.validate.min.js")
        script(src="/javascripts/coustumer.js")
        script(src="/javascripts/emailvalidat.js")
