extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active   المدراء
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/admin/addmanager', role='button') إضافة مدير
            span.glyphicon.glyphicon-plus 
      div.panel-body
        div.table-responsive  
          table#admin.table.table-bordred.table-striped
            thead
              th الاسم
              th رقم الهاتف
              th اللجان
              th تعديل
              th الغاء 
            tbody
              tr(data-id=1)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit',href='#edit',data-toggle='modal', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete',href='#del', data-toggle='modal', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
              tr(data-id=2)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
              tr(data-id=3)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
  #del.modal(data-width='760', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-headr
            .modal-title 
              h2 هل أنت متأكد من حدف؟
          .modal-body
             p هل انت متأكد 
          .modal-footer
            button.btn.btn-danger(type='button',data-dismiss='modal') delete
            button.btn.btn-success(data-dismiss='modal', type='button') cancel
        ////  modal edit
  #edit.modal(data-width='760', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-headr
            .modal-title 
              h2 تعديل بيانات المدير 
          .modal-body
             p المدير المراد تعديل بياناته
          .modal-footer
            button.btn.btn-primary(type='button',data-dismiss='modal') save and close 
            button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/admin.js")