extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        h3.panel-title.text-right.active   المدراء
        div.btn-group
          a.btn.btn-success.btn-sm(href='/admin/addmanager', role='button') إضافة مدير
            span.glyphicon.glyphicon-plus 
      div.panel-body
          div.table-responsive  
            table#user.table.table-bordred.table-striped
              thead
                th
                th الغاء
                th تعديل 
                th اللجان
                th رقم الهاتف
                th الاسم
                
              tbody
                tr(data-id=1)
                  td
                  td
                    p
                      button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-trash
                  td
                    p
                      button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-pencil
                  td طرابلس 
                  
                  td 7777777
                  td عبد السلام محمد
                tr(data-id=2)
                  td
                  td
                    p
                      button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-trash
                  td
                    p
                      button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-pencil
                  td طرابلس 
                  
                  td 7777777
                  td عبد السلام محمد
                tr(data-id=3)
                  td
                  td
                    p
                      button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-trash
                  td
                    p
                      button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-pencil
                  td طرابلس 
                  
                  td 7777777
                  td عبد السلام محمد
              
              
            
         
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/rootuser.js")