extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active   المدراء
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/admin/addmanager', role='button') إضافة مدير
            span.glyphicon.glyphicon-plus 
      div.panel-body
        div.table-responsive  
          table#admin.table.table-bordred.table-striped
            thead
              th الاسم
              th رقم الهاتف
              th اللجان
              th تعديل
              th الغاء 
            tbody
              tr(data-id=1)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
              tr(data-id=2)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
              tr(data-id=3)
                td عبد السلام محمد
                td 7777777
                td طرابلس 
                td
                  button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-pencil
                td      
                  button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/admin.js")