extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        h1.panel-title.pull-right.active.zero-clipboard  اللجان الأنتخابية
        br  
      div.input-group
        input.form-control(type="text",placeholder="أبحث ")
        spen.glyphicon.glyphicon-search.input-group-addon
        div.btn-group.pull-left
          a.btn.btn.btn-success.btn-sm(href='/constits/addconstit', role='button') إضافة لجنة 
           span.glyphicon.glyphicon-plus 
      div.panel-body
        div.table-responsive  
          table.table.table-striped.table-bordered.table-condensed.table-hover(id="constits")
            thead
              tr
                th الرقم
                th اللجان الأنتخابية
                th أسم المسؤل عن الجنة 
            tbody
              tr(data-id=1)
               td 1
               td طرابلس 
               td عبد السلام محمد
              tr(data-id=2)
               td 2
               td  مزدة 
               td  محمد مصباح
              tr(data-id=3)
               td 3
               td سرت 
               td محمد محمد سليم
              tr(data-id=4)
               td 4
               td بنغازي 
               td حاتم محمد عبد الباسط
script(src="/javascripts/jquery-1.11.1.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/constits.js")