extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
  .container
    table.table
      tr
        td
          label.h1(value="أسم اللجنة ") أسم اللجنة 
        td
          label.text-right.h1(value="رقم الجنة ")  45835
    tr  
    table.table.table-striped.table-bordered.table-condensed.table-hover(id="constits")
            thead
              tr
                th الرقم
                th الموظف
                th الصفة 
            tbody
              tr(data-id=1)
               td 1
               td عبد الباسط 
               td مدير الدائرة 
              tr(data-id=2)
               td 2
               td  علي الهادي 
               td  موظف الأقتراع 
              tr(data-id=3)
               td 3
               td محمد حسين 
               td  نأب مدير الدائرة
              tr(data-id=4)
               td 4
               td عبد العال 
               td موظف الصندوق
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/jquery-1.11.1.min.js") 
script(src="/javascripts/jquery.validate.min.js")
script(src="/javascripts/coustumer.js")
