extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        .dropdown
          button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا #{name}
            span.caret
          ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا #{name}
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/users/logout') تـسـجـيـل الخـروج

      h3.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    div.container
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-bookmark
            |   لـوحـــة الـتـحــكــم
        .panel-body
          .row
            .col-xs-6.col-md-6  
              a.btn.btn-danger.btn-block(href="/office/mahallaViews", role="button")
                span.glyphicon.glyphicon-th
                br
                | الــمـحـلـة
              p
              a.btn.btn-warning.btn-block(href="/office/villageViews", role="button")
                span.glyphicon.glyphicon-th
                br
                | الـقــريـة / المــديــنـة
              p
              a.btn.btn-primary.btn-block(href="/office/officeViews", role="button")
                span.glyphicon.glyphicon-th
                br
                | الـلــجـنـة
              p
            .col-xs-6.col-md-6
              a.btn.btn-primary.btn-block(href="/office/subconstituencyViews", role="button")
                span.glyphicon.glyphicon-th
                br
                | الـدوائـــر الــفـرعــيـة
              p
              a.btn.btn-success.btn-block(href="/root", role="button")
                span.glyphicon.glyphicon-user
                br
                | المـــستخدميــــن
              p
              a.btn.btn-info.btn-block(href="/office/constituencyViews", role="button")
                span.glyphicon.glyphicon-th
                br
                | الـدوائــــر الـــرئــيـــسـيـة
              p
            .col-xs-6.col-md-6
              a.btn.btn-primary.btn-block(href="/employee", role="button")
                span.glyphicon.glyphicon-user
                br
                | الـــمـوظــفــيـن
            .col-xs-6.col-md-6
              a.btn.btn-primary.btn-block(href="/admin", role="button")
                span.glyphicon.glyphicon-user
                br
                | الــمــدراء
              p
            .col-xs-6.col-md-6
              a.btn.btn-primary.btn-block(href="/center/-1", role="button")
                span.glyphicon.glyphicon-user
                br
                | موظفين المفوظية
            .col-xs-6.col-md-6
              a.btn.btn-primary.btn-block(href="/report", role="button")
                span.glyphicon.glyphicon-list-alt
                br
                | الـتـقـاريـــر
              p
          br
          a.btn.btn-success.btn-lg.btn-block(href="/office", role="button")
            span.glyphicon.glyphicon-th-list
            | الـلــجـان و الــمــراكــز
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")