extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
           
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title Control panel  
      div.panel-body  
        table#user.table
          tr
            td
              a.btn.btn-primary.btn-lg(href="/root" ) users
            td
              a.btn.btn-primary.btn-lg(href="#") constituency
            td
              a.btn.btn-primary.btn-lg(href="#") subconstituency
          tr
            td
              a.btn.btn-primary.btn-lg(href="#") employees
            td
              a.btn.btn-primary.btn-lg(href="#") offices
            td
              a.btn.btn-primary.btn-lg(href="#") village
          tr
            td
              a.btn.btn-primary.btn-lg(href="#") mahalla
            td
              a.btn.btn-primary.btn-lg(href="#") centers
            td
              a.btn.btn-primary.btn-lg(href="#") phone . . .
            
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
