extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../images/hnec_logo.png")
  font(size="4", color="black" , font="family" )
    div.container 
      button#enable.btn.btn-primary تمكــين / تعطـــيل
      button#delete.btn.btn-danger.pull-right(href='#del', data-toggle='modal',value="")
        span.glyphicon.glyphicon-trash
      .col-lg-1
      a.btn.btn-primary.pull-left(type="button", href="#") رجـــــوع
      p
    div.container 
      div.form-group 
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            tr
              td(width='35%') اسم الموظف
              td(width='65%')
                a#employee_name(href='#', data-type='text', data-pk='', data-title='اﻻسم' data-value='')  employee_name
            tr
              td(width='35%') البريد الإلكتروني
              td(width='65%')
                a#email(href='#', data-type='text', data-pk='', data-title='البريد الإلكتروني' data-value='')  email 
            tr
              td(width='35%') الرقم الوطني
              td(width='65%')
                a#nid(href='#', data-type='text', data-pk='', data-title='الرقم الوطني' data-value='')  nid
            tr
              td(width='35%') اسم البنك
              td(width='65%')
                a#bank_name(href='#', data-type='text', data-pk='', data-title='اسم البنك', data-value='')  bank_name
            tr
              td(width='35%') رقم الحساب
              td(width='65%')
                a#account_number(href='#', data-type='text', data-pk='', data-title='رقم الحساب', data-value='') account_number 
            tr
              td الصفة
              td
                a#type(href='#', data-type='select', data-pk='', data-value='',  data-title='الصفة') type
            tr
              td اسم المركز
              td
                a#center_idcenter(href='#', data-type='select', data-pk='', data-value='',  data-title='اسم المركز') center_idcenter
                  

    #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#offdelete.btn.btn-danger(type='button',data-dismiss='modal') delete
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
  
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/admin.js")
  script(src="/javascripts/editemployee.js")
   
