extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers App
      form#form.form-signin(role="form")
        h2.form-signin-heading الرجاء تسجيل الدخول
        lable اسم المستخدم
        input#username.form-control(type="text",name="username", placeholder="اسم المستخدم", required="",autofocus="")

        br

        lable كلمة المرور
        input#password.form-control(type="password",name="password", placeholder="كلمة المرور", required="")
        label.checkbox
        
        input(type="checkbox", value="remember-me")
        | تذكرني
        br
        button.btn.btn-lg.btn-primary.btn-block(type="submit") الدخول

    div.footer
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/jquery-1.11.1.min.js") 
      script(src="/javascripts/jquery.validate.min.js")
      script(src="/javascripts/coustumer.js")
