extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          //a(href="#") Home
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title الرجاء تسجيل الدخول
      div.panel-body
        form#form.form-signin(role="form",action="/users/login", method="post")
          div.form-group
            lable اسم المستخدم
            input#username.form-control(type="text",name="username", placeholder="اسم المستخدم", required="",autofocus="")
          div.form-group
            lable كلمة المرور
            input#password.form-control(type="password",name="password", placeholder="كلمة المرور", required="")
          div.form-group.text-center
            button.btn.btn-lg.btn-primary(type="submit") الدخول
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/login.js")
