extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers App
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title الرجاء تسجيل الدخول
      div.panel-body
        form#form.form-signin(role="form")
          div.row.form-group
            lable اسم المستخدم
            input#name.form-control(type="text",name="name", placeholder="اسم المستخدم", required="",autofocus="")
          div.row.form-group
            lable كلمة المرور
            input#password.form-control(type="password",name="password", placeholder="كلمة المرور", required="")
            label.checkbox
          div.row.form-group 
            input(type="checkbox", value="remember-me")
            | تذكرني
          div.row.form-group
            button.btn.btn-lg.btn-primary(type="submit") الدخول

      div.footer
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/jquery-1.11.1.min.js") 
        script(src="/javascripts/jquery.validate.min.js")
        script(src="/javascripts/login.js")
