extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
      .panel.panel-default
        div.btn-group.pull-left
            a.btn.btn-success.btn-xs.btn-lg(href='/centers/addmanager', role='button') إضافة مركز
              span.glyphicon.glyphicon-plus 
        div.panel-body  
        .input-group 
              input.form-control.input-sm(type="text",name="constitres", placeholder="المراكز الأنتخابية", required="")
              .input-group-btn
                .btn.btn-primary.btn-sm(type="button")  
                  spen.glyphicon.glyphicon-search
          div.table-responsive  
            table#off.table.table-striped.table-bordered.table-condensed.table-hover
              thead
                th أسم اللجنة 
                th رقمه اللجنة 
                th   عرض 
                th   حدف
              tbody
                for office in offices
                  tr
                    td #{office.office_name}
                    td #{office.office_id}
                    td
                      button#viw.btn.btn-primary.btn-xs(value="#{office.idoffice}")
                        span.glyphicon.glyphicon-eye-open
                    td      
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{office.office_id}")
                       span.glyphicon.glyphicon-trash 
          #del.modal(data-width='760', tabindex='-1')
            .modal-dialog
              .modal-content
                .modal-headr
                  .modal-title
                .modal-body
                  p.h2 هل انت متأكد 
                .modal-footer
                  button#offdelete.btn.btn-danger(type='button',data-dismiss='modal') delete
                  button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/offices.js")