extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers App
    form#form.form-signin(role='form')
      div.row
        h2.form-signin-heading مرحبا بك
      div.row
        label(for='password') كلمة المرور
      div.row
        input#password.form-control(maxlength='40',placeholder='كلمة المرور', name='password', size='20', type='password', tabindex='12', value='')
      div.row
        label(for='confirm_password') تأكيد كلمة المرور
        br
        input#confirm_password.form-control( maxlength='40', placeholder='تأكيد كلمة المرور',name='confirm_password', size='20', type='password', tabindex='13', value='')
      div.row 
        button.btn.btn-lg.btn-primary.btn-block(type='submit') حفظ
    div.footer
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/coustumer.js")
