extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../images/hnec_logo.png")

    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title تغير كلمة المرور
      div.panel-body
        form#form.form-signin(role='form')
          div.form-group
            كلمة المرور
            input#password.form-control(maxlength='40',placeholder='كلمة المرور', name='password', size='20', type='password', tabindex='12', value='') 
          div.form-group
            تأكيد كلمة المرور
            input#confirm_password.form-control( maxlength='40', placeholder='تأكيد كلمة المرور',name='confirm_password', size='20', type='password', tabindex='13', value='')
          div.form-group.text-center
            button.btn.btn-lg.btn-primary(type='submit') حفظ
  
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/reset.js")
