extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active المستخدمين  
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/root/adduser', role='button') إضافة مستخدم
            span.glyphicon.glyphicon-plus 
      div.panel-body
          div.table-responsive  
            table#user.table.table-bordred.table-striped
              thead
                th الاسم
                th رقم الهاتف
                th الصلحيات
              tbody
              for user in users
                tr(data-id= "#{user.iduser}")

                  td= user.name
                  td= user.phone
                  td
                    case user.level
                      when 0
                        p root
                      when 1
                        p admin
                      when 2
                        p manager
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/root.js")