extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active المستخدمين  
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/root/adduser', role='button') إضافة مستخدم
            span.glyphicon.glyphicon-plus 
      div.panel-body
          div.table-responsive  
            table#user.table.table-bordred.table-striped
              thead
                th الاسم
                th رقم الهاتف
                th الصلحيات
                th تعديل
                th الغاء 
              tbody
              for user in users
                tr(data-id= '#{user.iduser}')
                  td= user.name
                  td= user.phone
                  td
                    case user.level
                      when 0
                        p root
                      when 1
                        p admin
                      when 2
                        p manager
                  td
                    button.btn.btn-primary.btn-xs(data-title='Edit', href="#edit" , data-toggle='modal', data-target='#edit', data-placement='top', rel='tooltip')
                      span.glyphicon.glyphicon-pencil
                  td      
                    button.btn.btn-danger.btn-xs(data-title='Delete', href="#dele" ,data-toggle='modal', data-target='#dele', data-placement='top', rel='tooltip')
                      span.glyphicon.glyphicon-trash
  ////  modal delete
  #dele.modal(data-width='760', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-headr
          .modal-title 
            h2 هل أنت متأكد من حدف؟
        .modal-body
           p هل انت متأكد 
        .modal-footer
          button.btn.btn-danger(type='button',data-dismiss='modal') delete
          button.btn.btn-success(data-dismiss='modal', type='button') cancel

  ////  modal edit
  #edit.modal(data-width='760', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-headr
          .modal-title 
            h2 تعديل بيانات المستخدم
        .modal-body
          form#form.form-signin(role="form" , action="/root/adduser", method="post")
            div.form-group
              lable اسم المستخدم
              input#name.form-control(type="text",name="name", placeholder="اسم المستخدم", required="",autofocus="")
            div.form-group
              lable رقم الهاتف
              input#phone.form-control(type="text",name="phone", placeholder="رقم الهاتف", required="",autofocus="")
            div.form-group
              lable البريد الإلكتروني
              input#email.form-control.text-left(dir="ltr", type="text",name="email", placeholder="البريد الإلكتروني",required="")
            //Select for choose user root , admin or manager
            div.form-group
              font(size="4", color="black" , face="cursive" )
                select.form-control#level(name="level")
                  option(value="-1", selected="selected") صﻻحية المستخدم
                  option(value="0") root
                  option(value="1") admin
                  option(value="2") manager
            //Select for choose manager of constituencies
            div.form-group
              font(size="4", color="black" , face="cursive" )
                select.form-control#constit(name="constit")
                  option(value="-1", selected="selected") اختر الدائره الانتخابيه
                  option(value="طرابلس") طرابلس
                  option(value="بنغازي") بنغازي
                  option(value="مصراته") مصراته
        .modal-footer
          button.btn.btn-primary(type='button',data-dismiss='modal') save and close 
          button.btn.btn-success(data-dismiss='modal', type='button') cancel            
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/root.js")