extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted Centers 
  div.container    
    div.panel.panel-default
      div.panel-heading
        h3.panel-title.text-right.active   المستخدمين
      div.panel-body
          div.table-responsive  
            table.table.table-striped.table-bordered.table-condensed.table-hover(id="user")
              thead
                tr
                  th الامتيازات
                  th تاريخ التسجيل
                  th أسم المستخدم 
              tbody
                tr(data-id=1)
                 td root
                 td 13/3/2014 
                 td عبد السلام محمد
                tr(data-id=2)
                 td admin
                 td  15/6/2014 
                 td  محمد مصباح
                tr(data-id=3)
                 td manager
                 td 5/7/2014
                 td محمد محمد سليم
                tr(data-id=4)
                 td root
                 td 9/10/2014
                 td حاتم محمد عبد الباسط
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/rootuser.js")