body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#constits td:hover {
    cursor: pointer;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
label.error {
	
	color: red;
	font-style: italic
}
#user td:hover {
    cursor: pointer;
}
#admin td:hover {
    cursor: pointer;
}