
#constits td:hover {
    cursor: pointer;
}
.form-signin {
  max-width: 330px;
  margin: 0 auto;
}
label.error {
	
	color: red;
	font-style: italic;
  font-size: 90%;
}
#user td:hover {
    cursor: pointer;
}
#admin td:hover {
    cursor: pointer;
}

.headerlogo  {
padding-bottom: 19px;
margin-top: 0;
margin-bottom: 0;
line-height: 40px;
}
